* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #0a0a28;
    color: white;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    position: relative;
    z-index: 1;
}


body.no-scroll {
    overflow: hidden;
}